<h1>All the Snows We Knows</h1>

<dl ng-repeat="snow in $ctrl.snowTypes">
  <dt>{{snow.type}}</dt>
  <dd>{{snow.description}}</dd>
</dl>

<!--
1. add novalidate
2. add name
3. add ng-submit (add function to controller)
4. add button with type 'submit'
5. to inputs add name, type, ng-minlength, ng-maxlength, ng-model
 -->
<form novalidate name="addSnowType" ng-submit="$ctrl.addSnowType()">

  <h2>Add a Snow Type</h2>

  <label>Type</label>
  <input
    type="text"
    name="type"
    ng-minlength="2"
    ng-maxlength="40"
    ng-model="$ctrl.snow.type">

  <label>Description</label>
  <input
    type="text"
    name="description"
    ng-minlength="15"
    ng-maxlength="400"
    ng-model="$ctrl.snow.description">

  <button type="submit">Add</button>

</form>
